<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<bean id="CustomerBean" class="com.bigshi.mkyong.spring.dependencychecking.Customer">
		<property name="action" value="buy"/>
	</bean>
	
	<bean id="PersonBean" class="com.bigshi.mkyong.spring.dependencychecking.Person">
		<property name="name" value="rshi"/>
		<property name="address" value="address ABC"/>
		<property name="age" value="29"/>
	</bean>
	
	<!-- include context:annotation-config -->
	<context:annotation-config />
	
	
	<!-- Include RequiredAnnotationBeanPostProcessor -->
	<bean class="org.springframework.beans.factory.annotation.RequriedAnnotationBeanPostProcessor" />
</beans>